@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
  background: linear-gradient(270deg, yellow, purple);
  background-size: cover;
  background-repeat: no-repeat;
}
.box{
  width: 450px;
  background: rgb(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Silkscreen', monospace;
  overflow: auto;
}
.box img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  font-family: 'Press Start 2P', monospace;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
  text-shadow: black;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
spam{
  color: yellowgreen;
}
a{
  color: white;
}
button{
  font-family: 'Silkscreen', monospace;
  font-size: 1.1rem;
  border-radius: 12px;
  cursor: pointer;
}
red{
  overflow: auto;
  font-family: 'IBM Plex Mono', monospace;
}
input{
  font-family: 'IBM Plex Mono', monospace;
  color: #3d535f;
}
input:hover{
  color: black;
}
a{
text-decoration: none;
}
